.chat-container
{
  padding: 0;
  margin: 0;
}

.contact-info
{
   background-color: #202C33;
   height: 56px;
}

.message-container{
  padding-left: 50px;
  padding-right: 50px;
  background-image: url('../../../../assets/images/whatsapbaclgroundoriginals.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

@media (max-width: 575.98px) {
  .message-container{
    margin-left: 00px;
    margin-right: 0px;
  }
  
  .contact-info
  {
    margin-left: 10px;
  }
}