<div class="panel-container d-block">
  <div class="row sticky-top p-0 m-0">
    <div class="app-title d-block">
      <h1 class="ms-2">Prana</h1>
    </div>
    <div class="row p-2 m-0 search-container">
      <div class="col">
        <input
          class="form-control focus-ring focus-ring-dark"
          list="datalistOptions"
          id="exampleDataList"
          placeholder="Buscar"
        />
        <datalist id="datalistOptions">
          <option
            *ngFor="let contat of contacts"
            [value]="contat.name"
          ></option>
        </datalist>
      </div>
    </div>
  </div>
  <div class="d-block p-0 m-0">
    <ul class="list-group rounded-0  p-0 m-0">
      <li data-bs-toggle="list" 
      *ngFor="let c of chats"
        class="p-0 m-0 border-0 list-group-item list-group-item-action justify-content-between align-items-center">
        <app-chat-item-list class="p-0 m-0" [chat]="c"></app-chat-item-list>
      </li>
    </ul>
  </div>
</div>
