<div *ngIf="message" id="messageContainer"
class="card border-0 mb-2 col-auto" 
 [ngClass]="{memessage:message.itsMy, recipientmessage:!message.itsMy}">
    <div>
        <div class="row card-text m-1">
            <ng-container *ngIf="message.type === 'template'">
              <app-message-content-template [message]="message">

              </app-message-content-template>
            </ng-container>
            <ng-container *ngIf="message.type === 'text'">
              <app-message-content-text [message]="message">

              </app-message-content-text>
            </ng-container>

        </div>  
        <div class="row text-end">
            <small class="text-body-secondary m-0">
                {{(+message.timestamp * 1000) | date:'dd/MM/yyyy HH:mm:ss'}}
                <i data-bs-toggle="modal" [attr.data-bs-target]="'#logModal' + getIdentifier()" *ngIf="lastStatus() === 'delivered'" class="fa-solid fa-check-double"></i>
                <i data-bs-toggle="modal" [attr.data-bs-target]="'#logModal' + getIdentifier()" *ngIf="lastStatus() === 'read'" class="fa-solid fa-check-double" style="color: #53BDEB;"></i>
                <i data-bs-toggle="modal" [attr.data-bs-target]="'#logModal' + getIdentifier()" *ngIf="lastStatus() === 'sent'" class="fa-solid fa-check"></i>
                <i data-bs-toggle="modal" [attr.data-bs-target]="'#logModal' + getIdentifier()" *ngIf="lastStatus() === 'failed'" class="fa-solid fa-triangle-exclamation" style="color: #dc3545;"></i>
            </small>  
        </div>  
    </div>
</div>


<div class="modal fade" [id]="'logModal'+getIdentifier()"  tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">
            {{getText()}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="message">
            <p *ngFor="let c of message.changes">
                {{getStatusView(c.status) + ' ' + ((+c.timestamp * 1000) | date:'dd/MM/yyyy HH:mm:ss') + '. ' + c.text }}
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>