<div *ngIf="!ready" class="vh-100 d-flex justify-content-center align-items-center">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="ready" id="aaa1" class="container-fluid m-0 p-0">
  <div class="d-flex flex-nowrap m-0 p-0">
      <nav class="col-md-3 col-sm-12 col-xs-12 col-12 d-md-block bg-dark sidebar">
          <div class="position-sticky">
            <app-chat-list-lateral-panel></app-chat-list-lateral-panel>
          </div>
      </nav>
      <main id="router-outlet" class="col-md-9 col-12 col-xs-12">
          <router-outlet></router-outlet>
      </main>
  </div>
</div>